.drug-container {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for better visibility */
  width: 100%;
  max-width: 600px; /* Limits the width to a max of 600px */
  margin: 150px auto 0 auto; /* Adds margin-top to move the container down */
  /* Green border */
}
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  
  .result {
    margin-top: 20px;
  }
  
  .interaction-box {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  p {
    margin: 5px 0;
  }
  